:root {
    --main-color: #0065fc;
    --second-color: #68a3fc;
    --bar-color: #f2f2f2;
    --black-color: #000d13;
}

@font-face {
    font-family: 'Raleway';
    src: url('font/Raleway-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway Italic';
    src: url('font/Raleway-Italic-VariableFont_wght.ttf') format('truetype');
}

body {
    font-family: 'Raleway', sans-serif;
}

.logo {
    height: 150px;
}

.title {
    font-weight: 400;
    position: relative;
    top: -20px;
    left: -30px;
}

.nav-link {
    position: relative;
    top: -15px;
}

.nav-item {
    font-size: 20px;
}

.header-container {
    padding-bottom: 10px;
}

.custom-padding {
    padding-top: 0;
    padding-bottom: 0;
}

@media (min-width: 835px) {
    .top-bar {
        position: absolute;
        top: 0;
        right: 23rem;
        width: 120px;
        height: 2px;
        background-color: var(--second-color);
    }

    #hebergements {
        color: var(--second-color);
    }
    #activites {
        color: var(--black-color);
    }
    #inscrire {
        color: var(--main-color);
    }
}

@media (max-width: 834px) {
    .title {
        display: none;
    }

    .nav {
        flex-direction: column;
        justify-content: center;
    }

    .nav-link {
        position: static;
        width: 50%;
        margin: 0 auto;
        text-align: center;
        padding-bottom: 10px;
    }

    .nav-item {
        position: relative;
    }

    .nav-item:first-child {
        position: absolute;
        top: 85px;
        left: -10px;
        width: auto;
    }

    .nav-item:nth-child(2) {
        position: absolute;
        top: 85px;
        right: 80px;
        width: auto;
    }

    .nav-item:last-child {
        position: absolute;
        top: 26px;
        right: 30px;
        font-weight: bold;
    }

    .logo-container {
        flex: 1;
    }

    .logo {
        height: 120px;
    }

    .nav-link.active {
        color: var(--main-color) !important;
    }

    .nav-link.inactive {
        color: black !important;
    }

    .nav-bar {
        width: 100%;
        height: 4px;
        margin-top: 15px;
        display: flex;
    }

    .nav-bar .left {
        flex: 1;
        background-color: var(--main-color);
    }

    .nav-bar .right {
        flex: 1;
        background-color: var(--bar-color);
    }

    .nav-bar.active .left {
        background-color: var(--bar-color);
    }

    .nav-bar.active .right {
        background-color: var(--main-color);
    }
}

.text_center h3 {
    margin-left: -5px;
}

.section-container3 {
    padding: 50px 20px;
    background-color: #f4f4f4;
    text-align: center;
}

.section-container3 h2 {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 30px;
}

.search_bar input, .search_bar button {
    padding: 10px;
    font-weight: bold;
    margin: -5px;
}

.search_bar span {
    width: 40px;
    height: auto;
    margin-top: 8px;
}

.filters {
    margin-left: 50px;
    display: flex;
}

.filters h3 {
    margin-top: 22px;
}

.filters button {
    margin: 15px;
    padding: 10px;
    border: none;
    background: #ddd;
    cursor: pointer;
    border-radius: 10px;
    font-weight: bold;
}

.logo_i {
    margin-left: 50px;
    display: flex;
}

.logo_i img {
    width: 30px;
    height: 30px;
}

.logo_i h4 {
    margin-top: 8px;
}

.containeur {
    left: -300px;
}

.card {
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    object-fit: cover;
    height: 160px;
    border-radius: 10px 10px 0 0;
}

.card-body {
    text-align: center;
}

.text-warning {
    color: #007bff !important;
}

.bg-light {
    background-color: #f8f9fa !important;
}

@media (max-width: 992px) {
    .row.flex-column-reverse {
        display: flex;
        flex-direction: column-reverse;
    }
}

section.col-lg-4 .card {
    min-height: 222px;
}

li {
    font-size: 20px;
    list-style-type: none;
    margin: 0 20px;
}

h2 {
    margin-left: 50px;
}

h4 {
    margin-left: 50px;
    font-weight: normal;
}

.bold {
    font-weight: bold;
    margin-top: 20px;
}

.space {
    margin-left: 50px;
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background-color: lightgray;
    color: rgb(0, 0, 0);
    flex-wrap: wrap;
}

.footer h4 {
    margin-bottom: 1rem;
}

.footer ul {
    list-style: none;
    padding: 0;
}

.footer li {
    margin: 0.2rem 0;
    list-style: none;
}

li a {
    text-decoration: none;
    color: black;
}